./planner/downward

# Training artifacts
wandb/
wandb_media/
src/train/wandb_media/
hemac_checkpoints/
src/train/hemac_checkpoints/
checkpoint*/
src/train/wandb
visualization/
src/train/old
src/train/trained_checkpoints/
src/hemac/__pycache__/
src/hemac/environment/__pycache__/
src/hemac/helpers/__pycache__/
src/hemac/train/__pycache__/
tests/__pycache__/